.button-box {
   width: 120px;
   height: 34px;
   border-radius: 5px;
   background-color: #ffffff;
   display: flex;
   align-items: center;
   justify-content: center;
   margin: 1em;
}

.button-box a {
   border-radius: 5px;
   border: none;
   width: 90%;
   height: 75%;
   cursor: pointer;
   font-weight: 500;
   background-color: #b1b1b1;
}

.button-box a button {
   width: 100%;
   height: 100%;
   border-radius: 5px;
   border: none;
   cursor: pointer;
   font-weight: 500;
   transition: 0.6s;
}
.button-box a button:hover {
   background-color: #0dec01;
   color: #f0f0f0;
}
